@model fitapp_plodik_MVC.Entities.Workout

<h2>Přidat trénink</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Datum</label>
        <input asp-for="WorkoutDate" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Poznámka</label>
        <textarea asp-for="Note" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-success">Uložit</button>
    <a asp-action="Index" class="btn btn-secondary">Zpět</a>
</form>
