@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Jsme jedna z nejlepších aplikací pro fitness komunitu </p>
<p>Do budoucna se můžete dočkat i přidání jídleníčku do naší aplikace + možnost vytvářet a zkoušet různé fitness recepty</p>
